@charset "utf-8";
/* CSS Document */

*{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #3f82f3;
	margin:0;
	padding: 0px;
	max-width: 100%;
}
h1,h2,h3,h4{
	text-align: center;
	margin: 50px auto 20px;
}
article h3{
	margin-top: 0px;
}

html{
	background: #3c3c3c;
	width: 100vw;
}
a{
	color:pink;
}
article, section{
	max-width: 1200px;
	margin: 20px auto !important;
}
.WVR-hero img{
	width: 100%;
	height: auto;
}
.WVR-blogpost{
	border: solid 2px pink;
	padding: 30px;
	margin: 20px 0px;
}
.WVR-blogimg{
	width: 50%;
}
.WVR-gallery img{
	width: 50%;
	float: left;
}
.clear{
	clear: both;
}
footer{
	background:black;
	width: 100%;
	padding: 15px;
	margin-top:50px;
}